.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
}

.form-inputs {
  display: flex;
  flex-direction: column;  
}

.form-inputs input,button {
  margin: 10px;
  font-size: large;
}